.hero {
        padding-top: 6rem;
}
  
  .hero div {
        width: 100%;
}
  
  @media (min-width: 640px) {
  
        .hero div {
                max-width: 640px;
        }
}
  
  @media (min-width: 768px) {
  
        .hero div {
                max-width: 768px;
        }
}
  
  @media (min-width: 1024px) {
  
        .hero div {
                max-width: 1024px;
        }
}
  
  @media (min-width: 1280px) {
  
        .hero div {
                max-width: 1280px;
        }
}
  
  @media (min-width: 1536px) {
  
        .hero div {
                max-width: 1536px;
        }
}
  
  .hero div {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
}
  
  @media (min-width: 768px) {
  
        .hero div {
                flex-direction: row;
        }
}
  
  .hero div .hero-left {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
}
  
  @media (min-width: 768px) {
  
        .hero div .hero-left {
                width: 40%;
                text-align: left;
        }
}
  
  .hero div .hero-left .hero-question {
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 0.025em;
}
  
  .hero div .hero-left .hero-message {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.25;
}
  
  .hero div .hero-left .hero-submessage {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        line-height: 2rem;
        line-height: 1.5;
}
  
  .hero div .hero-left .hero-action {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        border-radius: 9999px;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-weight: 700;
        --tw-text-opacity: 1;
        color: rgb(31 41 55 / var(--tw-text-opacity));
        --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
  .hero div .hero-left .hero-action:hover {
        --tw-scale-x: 1.05;
        --tw-scale-y: 1.05;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        text-decoration-line: underline;
}
  
  .hero div .hero-left .hero-action:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
        --tw-drop-shadow: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
  
  @media (min-width: 1024px) {
  
        .hero div .hero-left .hero-action {
                margin-left: 0px;
                margin-right: 0px;
        }
}
  
  .hero div .hero-right {
        width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        text-align: center;
}
  
  @media (min-width: 768px) {
  
        .hero div .hero-right {
                width: 60%;
        }
}
  
  .hero div .hero-right img {
        z-index: 30;
        width: 100%;
}
  
  @media (min-width: 768px) {
  
        .hero div .hero-right img {
                width: 80%;
        }
}
  
  .hero div .hero-right img {
        image-rendering: pixelated;
      }